<!DOCTYPE html>
<html>
<head>
    <title>Технологические зависимости</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <h1>Технологические зависимость это проблема </h1>
    <p>Как часто вы можете оставить всю технику в спокойствие или как долго вы могли продержаться без нее?</p>
    <h2>Полезные советы от зависимости</h2>
             <ul>
                   <li>Установите лимиты на время, проведенное в Интернете и на использование устройств.</li>
             </ul>
     <img src="static\img\VREMIA.jpg" alt="Image 1">
</body>
</html>